HR_attrition.csv is a dataset of IBM employee attrition data. Each row is personal and attrition information of an employee. Our project is focusing on using machine learning to predict attrition. We are also providing interesting findings that people usually don't think of regarding employee attrition.

Attrition: Whether employees are still with the company or whether they’ve gone to work somewhere else.

Age: 18 to 60 years old

Gender: Female or Male

Department: Research & Development, Sales, Human Resources.

BusinessTravel: Travel_Rarely, Travel_Frequently, Non-Travel.

DistanceFromHome: Distance between the company and their home in miles.

MonthlyIncome: Employees' numeric monthly income.

MaritalStatus: Married, Single, Divorced.

Education: 1 'Below College' 2 'College' 3 'Bachelor' 4 'Master' 5 'Doctor'.

EducationField: Life Sciences， Medical， Marketing，Technical Degree，Other.

EnvironmentSatisfaction: 1 'Low' 2 'Medium' 3 'High' 4 'Very High'.

RelationshipSatisfaction: 1 'Low' 2 'Medium' 3 'High' 4 'Very High'.

JobInvolvement: 1 'Low' 2 'Medium' 3 'High' 4 'Very High'.

JobRole: Sales Executive，Research Science, Laboratory Tec, Manufacturing, Healthcare Rep, etc

JobSatisfaction: 1 'Low' 2 'Medium' 3 'High' 4 'Very High'.

OverTime: Whether they work overtime or not.

NumCompaniesWorked: Number of companies they worked for before joinging IBM.

PerformanceRating: 1 'Low' 2 'Good' 3 'Excellent' 4 'Outstanding'.

YearsAtCompany: Years they worked for IBM.

WorkLifeBalance: 1 'Bad' 2 'Good' 3 'Better' 4 'Best'.

YearsSinceLastPromotion: Years passed since their last promotion.

### Import the Libraries and load the dataset

In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
hrdata=pd.read_csv('https://raw.githubusercontent.com/vkavitha19/MachineLearning/refs/heads/main/datasets/HR_attrition.csv')
hrdata.head(2)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,YearsAtCompany
0,33.0,Yes,Travel_Frequently,NaN,3.0,Life Sciences,1,Male,3,1,Research Scientist,1.0,3348.0,1,Yes,11,3,10
1,NaN,Yes,Travel_Rarely,Sales,4.0,Medical,4,Male,1,3,Sales Executive,4.0,NaN,1,No,11,3,14

### 1. Keep the numerical data and categorical data seperately in the variable num_data and cat_data

### 2. Print all the unique levels present in the each categorical columns and if required perform  text cleaning

Attrition have 4 levels, eventhough logicall it can be only 'yes' or 'no'. Text cleaning is required for this column. Just make all the charecter to lower case to bring uniformity.

### 3. Print the missing value percentage in each columns in the data

### 4.  Drop the rows which have the missing values with respect to Department and JobSatisfaction column

### 5. How many rows are having the missing value more than 2 nan

### 6. Drop the rows which have not even have 16 proper numbers [i.e only 2 nans are allowed in each row]

### 7. Treat the missing value in the age colum using Joblevel group means

### 8.Treat the missing value in the MonthlyIncome colum using Joblevel group means

### 9.Treat the missing value in the Bussiness_Travel colum using Mode of the same column

### 10. Will you prefer 'mode' imputation for Department column ? If not use other logical approach to fill the missing values in the department column

In [3]:
# Mode imputaion is not really preferred as the second level representation is reasonable.

In [4]:
# forming rules based on monthly income for each Department group

### 11. Perform a suitable missing value treatment technique for Distance from home column

In [5]:

# Distance from home is not having much of linear relationship with any other columns, hence filling it with some high deviated value

### 12. Fill the missing value in JobSatisfaction with 'mode' imputation (as it is having few missing values)